<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='scripts/reflector.js')}}" defer></script>
    <title>Title</title>
</head>
<body>

    <form class="form" name="passdata" action="." method="post" enctype="multipart/form-data">

        <div class="first_two">
            <input class="name_area" type="text" placeholder="Enter name" name="name">
            <select class="subject_choice" name="subject" id="cars">
                <option value="computer science">Computer science</option>
                <option value="Math level 1"> Math level 1</option>
                <option value="Math level 2">Math level 2</option>
                <option value="Physics">Physics</option>
              </select>
        </div>

        <div class="first_two">
            <input class="name_area" type="text" placeholder="Enter email address" name="email">
        </div>

        <div>
            <label style="font-size: small;">Do you need a tutorial session:</label>
            <input type="checkbox" name="yes" id="green_indicator" onclick="revealer()" >Yes
            <input type="checkbox" name="no" id="fg">No <br>
        </div>

        <div style="display: none;" id="choose_date">
            <p class="request_statement">When would you like to have a Zoom call:</p>
            <input class="subject_choice "  type="datetime-local" name="date">
            <p style="font-size: small; color: red;">{{error_1}}</p>
        </div>
        <br>

        <input type="file" name="file">
        <p style="font-size: small; color: red;">{{error}}</p>
        <input type="submit" name="submit" id="##" >
        <p style="font-size: small; color: green;">{{name}}</p>
        <p style="font-size: small; color: green;">{{name_1}}</p>
    </form>
    </body>
</html>