<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>{{title}}</p>
<p>{{name}}</p>
    <form name="passdata" action="." method="post">
            <input type="text" placeholder="Enter name" name="name">
            <select name="subject" id="cars">
                <option value="computer science">Computer science</option>
                <option value="Math level 1"> Math level 1</option>
                <option value="Math level 2">Math level 2</option>
                <option value="Physics">Physics</option>
              </select>
            <input type="text" placeholder="Enter email address" name="email">
            <input type="datetime-local" name="date" id="s">
        <input type="checkbox" name="yes" id="">Yes
        <input type="checkbox" name="no" id="fg">No
          <input type="submit" name="submit" id="nm">
        </form>
    </body>
</html>